.About {
  border-top: 1px solid #262626;
  border-bottom: 1px solid #262626;
  color: #fff;
}
.about-container {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
  margin-bottom: 5em;
}
.title {
  width: 30vw;
  height: auto !important;
  color: #fff;
  margin-bottom: 30px;
}
.description {
  font-family: "PP Neue Montreal";
  font-style: normal;
  font-weight: 400;
  font-size: 1.7em;
  padding: 20px;
}
.about-section-text {
  font-size: 1.4rem;
  font-family: "PP Neue Montreal";
  height: auto;
}
.title-name {
  font-style: normal;
  font-weight: 400;
  font-size: 1.3em;
  color: #999;
  width: auto !important;
}
.tech-stack {
  width: 150px;
  height: auto !important;
  display: flex;
  display: flex;
  flex-direction: column;
  padding: 0;
  flex-direction: column;
  color: #fff;
  font-family: "PP Neue Montreal";
}
.my-image {
  background-image: url("../../assets/images/portfolio-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}
.stacks {
  color: #ccc;
  font-family: "PP Neue Montreal";
  width: auto !important;
}
.stack-names {
  display: flex;
  color: #fff;
  font-family: "PP Neue Montreal";
}
.star {
  background: linear-gradient(
    91.98deg,
    #f87ea2 -9.89%,
    #ff9b64 14.53%,
    #fbf190 44.6%,
    #cff3a1 68.58%,
    #a3f7bb 86.27%,
    #a3f7f2 97.24%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
@media only screen and (max-width: 768px) {
  .description {
    font-size: 1.5em;
    padding: 10px;
  }
  .title {
    padding: 40px 30px;
    height: auto !important;
    width: 20vw;
  }
  .tech-stack {
    display: flex;
    padding: 0;
    margin-top: 60px;
  }
  .about-container {
    display: flex;
    flex-flow: column-reverse;
  }
  .about-section-text {
    font-size: 0.8em;
    height: 250px;
  }
}
@media only screen and (max-width: 600px) {
  .about-container {
    display: block;
  }
}
