.footer {
  display: flex;
  align-items: center;
  width: 100vw;
  justify-content: space-between;
  padding: 20px;
  border-top: 1px solid #262626;
}
.name {
  font-family: "PP Neue Montreal";
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 110%;
  letter-spacing: -0.02em;
  color: #cccccc;
  cursor: pointer;
}
.designer {
  font-family: "PP Neue Montreal";
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  letter-spacing: -0.02em;
  background: linear-gradient(
    91.98deg,
    #f87ea2 -9.89%,
    #ff9b64 14.53%,
    #fbf190 44.6%,
    #cff3a1 68.58%,
    #a3f7bb 86.27%,
    #a3f7f2 97.24%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.footer-nav {
  display: flex;
  gap: 20px;
}
@media only screen and (max-width: 768px) {
  .footer-nav {
    display: none;
  }
}
