.Experience {
  width: 100vw;
  height: auto !important;
  border-bottom: 1px solid #1a1a1a;
  display: flex;
  gap: 40px;
}
.container-title {
  width: 30vw;
  height: auto !important;
  padding: 40px 30px;
  font-family: "PP Neue Montreal";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 110%;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.582);
}
.cards {
  width: 60vw;
  height: auto !important;
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0px;
}
.role-type {
  font-family: "PP Neue Montreal";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 110%;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin-bottom: 5px;
}
.company-title {
  font-family: "PP Neue Montreal";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 110%;
  letter-spacing: -0.02em;
  color: #cccccc;
  margin-bottom: 20px;
}
.date {
  font-family: "PP Neue Montreal";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.486);
}
.companies {
  width: 350px;
  height: auto !important;
  margin-bottom: 20px;
}
@media only screen and (max-width: 768px) {
  .Experience {
    display: flex;
    flex-flow: column;
  }
  .container-title {
    width: auto !important;
  }
  .cards {
    width: auto !important;
    height: auto !important;
    padding: 0px 30px;
  }
}
